// Descriptive color variables

$white: rgb(255, 255, 255);
$x-light-grey: rgb(245, 245, 245);
$light-grey: rgb(228, 228, 228);
$light-med-grey: rgb(174, 174, 174);
$med-grey: #838282;
$dark-grey: rgb(63, 63, 63);
$x-dark-grey: rgb(24, 24, 23);
$black: rgb(0, 0, 0);

// Functional color variables
$color-shadow-light: rgba($white, 0.5);
$color-shadow-med: rgba($light-med-grey, 0.5);
$color-shadow-black: rgba($black, 0.6);

// $color-primary
// $color-secondary
// $color-text-light: $white;
// $color-text-medium: $light-grey;
// $color-shadow: rgba($black, .8);

// Font stack
