@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin hover-scale-01 {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1);
  transition: $easeOutBack 250ms;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

@mixin create-fade-up-keyframes($animationName, $opacity: 0.8) {
  @keyframes #{$animationName} {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: $opacity;
      transform: translateY(0);
    }
  }
}

/* ----- ANIMATION KEYFRAMES ----- */

@include keyframes(fade) {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes enter-scale-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes enter-fade-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include create-fade-up-keyframes("enter-fade-up-1", 0.8);
