// Descriptive color variables
$white: rgb(255, 255, 255);
$x-light-grey: rgb(245, 245, 245);
$light-grey: rgb(228, 228, 228);
$light-med-grey: rgb(174, 174, 174);
$med-grey: #838282;
$dark-grey: rgb(63, 63, 63);
$x-dark-grey: rgb(24, 24, 23);
$black: rgb(0, 0, 0);

// Functional color variables
$color-shadow-light: rgba($white, 0.5);
$color-shadow-med: rgba($light-med-grey, 0.5);
$color-shadow-black: rgba($black, 0.6);

// Breakpoints
$break-xs: 320px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 1040px;
$break-xl: 1824px;

// Transitions
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
// $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
