/* ------------- STICKY NAV ------------- */

#la-nav__navbar,
.sticky {
  // overflow: hidden;
  background-color: rgba(232, 232, 232, 0.2);
  -webkit-position: fixed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
