.la-nav__sidebar {
  position: absolute;
  left: 100vw;
  top: 0;
  bottom: 0;
  z-index: 5;
  width: 250px;
  background-color: $x-dark-grey;
  overflow-x: hidden;
  padding-top: 90px;
  transition: 600ms $easeOutCirc;
  transform: scale(1.4);
  transform-origin: 0 50%;

  @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
    width: 160px;
    bottom: 0;
    padding-top: 50px;
    transform: scale(1.2);
  }
  @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
    width: 180px;
    padding-top: 80px;
    transform: scale(1.2);
  }

  > a {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    font-weight: 200;
    display: block;
    padding: 8px 8px 8px 32px;
    color: $med-grey;

    @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
      font-size: 13px;
      line-height: 0.5;
      padding: 5px 5px 5px 25px;
    }
    @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
      font-size: 15px;
      line-height: 0.8;
      padding: 7px 7px 7px 30px;
    }

    & ~ hr {
      border: 0.5px solid rgba(255, 255, 255, 0.3);
      width: 80%;
      padding-right: 10px;
    }

    &:hover {
      color: $light-grey;
      cursor: pointer;
    }

    &.la-nav__closebtn {
      position: absolute;
      top: 15px;
      right: 25px;
      font-size: 30px;
      cursor: pointer;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 25px;
      }
      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        font-size: 23px;
      }
    }
  }

  &.la-nav__sidebar--visible {
    transform: translateX(-250px) scale(1);

    @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
      transform: translateX(-160px) scale(1);
    }
    @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
      transform: translateX(-190px) scale(1);
    }
  }
}
