.la-nav__slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 280px 0;
  color: $white;
  background-size: cover;
  background-position: center;
  transition: all 1000ms ease-out;
}

.la-nav__slider {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;

  > input {
    appearance: none;
    -webkit-appearance: none;
    margin: 30px 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    outline: none;
    background-color: $color-shadow-med;
    cursor: pointer;
    transition: background-color 600ms ease;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      height: 12px;
      width: 12px;
    }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      height: 13px;
      width: 13px;
    }
    @media only screen and (min-width: 1824px) {
      height: 19px;
      width: 19px;
    }
  }

  > input:hover,
  .active {
    background-color: $light-grey;
  }
}

.la-nav__slide-1 {
  background-image: linear-gradient($color-shadow-black, $color-shadow-black),
    url("/asset/siesta-2.jpg");
}
.la-nav__slide-2 {
  background-image: linear-gradient($color-shadow-black, $color-shadow-black),
    url("/asset/siesta-3.jpg");
}
.la-nav__slide-3 {
  background-image: linear-gradient($color-shadow-black, $color-shadow-black),
    url("/asset/siesta-4.jpg");
}

.la-nav--fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1300ms;
  animation-name: fade;
  animation-duration: 1300ms;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
