@import "/sass/index.scss";

main {
  overflow: hidden;
}

body,
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

/* ------------- SECTION: NAV + HEADER ------------- */
.la-nav {
  max-width: 100%;
  height: 100vh;
  position: relative;

  header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
      font-size: 13px;
    }
    @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
      font-size: 15px;
    }

    a:first-child {
      color: $white;
      padding: 20px;
      opacity: 0.9;

      span {
        color: $color-shadow-light;
      }
      &:hover {
        opacity: 1;
        transition: 500ms ease-out;
        transform: scale(1.02);
      }
    }

    // menu
    a:last-child {
      padding: 20px;
      width: 75px;
      color: $white;
      opacity: 0.9;
      transition: width 600ms;

      &:hover {
        cursor: pointer;
        opacity: 1;
        transition: 500ms ease-out;
        transform: scale(1.03);
      }
    }
  }

  .la-nav__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $white;
    font-size: 17px;
    z-index: 3;

    p {
      margin-bottom: 20px;
      text-transform: uppercase;
      word-spacing: 2px;
      letter-spacing: 5px;
      font-size: 15px;

      opacity: 0;
      animation: enter-fade-up-1 2000ms $easeOutCirc 800ms normal forwards;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 11px;
        padding: 0 25px;
      }
      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        font-size: 13px;
        padding: 0 50px;
      }
      @media only screen and (min-width: $break-lg) {
        font-size: 18px;
        font-weight: 200;
      }
    }

    hr {
      border: 0.5px solid $color-shadow-light;
      width: 25%;
      transform: scaleX(0);
      animation: enter-scale-x 1500ms $easeOutCirc 500ms normal forwards;
    }

    h2 {
      font-size: 100px;
      font-weight: 200;
      letter-spacing: 8px;
      margin: 0;
      opacity: 0;

      animation: enter-fade-down 2000ms $easeOutCirc 800ms normal forwards;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 70px;
      }
      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        font-size: 80px;
      }
      @media only screen and (min-width: $break-xl) {
        font-size: 110px;
      }
    }
  }
}

/* ------------- DUAL COLUMN ------------- */
.la-dualcolumns {
  background-color: $x-light-grey;
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 90px;
  color: $dark-grey;

  > .la-dualcolumn {
    transition: 1000ms;
    opacity: 0;
    transform: translateY(50px);

    &:nth-child(2) {
      transition-delay: 200ms;
    }
  }

  &.section--visible {
    > .la-dualcolumn {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px 18px;
  }
  @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 80px 40px;
  }
  @media only screen and (min-width: $break-md) {
    grid-gap: 40px;
    padding: 100px 60px;
  }
  @media only screen and (min-width: $break-xl) {
    grid-gap: 50px;
    padding: 120px 100px;
  }

  > .la-dualcolumn {
    display: flex;
    flex-direction: column;
    text-align: center;

    &:nth-child(1),
    &:nth-child(2) {
      background-color: $white;
    }

    .la-dualcolumn__img {
      overflow: hidden;
      cursor: pointer;
      background-color: $black;

      &:before {
        content: "";
        width: 100%;
        display: block;
        height: 300px;
        transition: 500ms ease-out;
        transform: scale(1);
        background-position: center;
        background-size: cover;
        opacity: 0.7;
      }

      &:hover {
        &:before {
          transition: 500ms ease-out;
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }

    .la-dualcolumn__img-01 {
      &:before {
        background-image: url("/asset/siesta-4.jpg");
      }
    }
    .la-dualcolumn__img-02 {
      &:before {
        background-image: url("/asset/siesta-2.jpg");
      }
    }

    .la-dualcolumn__content {
      padding: 40px;
      display: flex;
      flex-direction: column;
      flex: 1;

      > div {
        p {
          text-transform: uppercase;
          font-size: 11px;
          color: $light-med-grey;
          letter-spacing: 3px;
          word-spacing: 1px;

          @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
            font-size: 9px;
          }
          @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
            font-size: 11px;
          }
        }

        hr {
          border: 0.5px solid $color-shadow-med;
          width: 50%;
        }
        h2 {
          font-weight: 400;
          padding-bottom: 25px;
        }
      }

      > p {
        font-size: 14px;
        color: $light-med-grey;
        padding-bottom: 30px;

        @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
          font-size: 11px;
        }
        @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
          font-size: 12px;
        }
        @media only screen and (min-width: $break-md) {
          font-size: 13px;
        }
      }

      button {
        padding: 15px;
        background-color: $white;
        font-size: 16px;
        text-transform: uppercase;
        border: 2px solid $light-grey;
        border-radius: 3px;
        outline: none;
        margin-top: auto;
        align-self: center;

        a {
          color: $light-med-grey;
        }

        &:hover {
          cursor: pointer;
          background-color: $light-grey;
          transition: 800ms;
        }

        @media only screen and (min-width: $break-sm) and (max-width: $break-sm) {
          font-size: 12px;
          padding: 6px;
        }
        @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
          font-size: 13px;
          padding: 7px;
        }
        @media only screen and (min-width: $break-md) {
          font-size: 15px;
          padding: 10px;
        }
      }
    }
  }
}

/* ------------- BANNER ------------- */
.la-banner__wrapper {
  background-image: linear-gradient($color-shadow-black, $color-shadow-black),
    url("/asset/siesta-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 20vh;

  &.section--visible {
    .la-banner__headings {
      h2 {
        opacity: 1;
      }
    }
  }

  .la-banner__headings {
    display: block;
    position: relative;
    padding: 100px 0;
    color: $white;
    font-size: 17px;
    text-align: center;

    p {
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
      opacity: 0.6;
      transform: scaleX(0);
      animation: enter-scale-x 1700ms $easeOutCirc 500ms normal forwards;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 8px;
        padding: 20px;
      }
      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        font-size: 10px;
        padding: 0 30px;
      }
    }

    hr {
      border: 0.5px solid $color-shadow-light;
      width: 25%;
    }

    h2 {
      font-size: 25px;
      font-weight: 200;
      letter-spacing: 2px;
      word-spacing: 3px;
      margin: 0;
      opacity: 0;
      animation: enter-fade-up-1 2000ms $easeOutBack 300ms normal forwards;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 20px;
      }
    }
  }
}

/* ------------- FOUR-GRID ------------- */
.la-fourgrid {
  width: 100%;
  box-sizing: border-box;

  &.section--visible {
    .la-fourgrid__gallery {
      > a {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.la-fourgrid__content {
  background-color: $x-light-grey;
  padding-top: 40px;
  text-align: center;

  > div {
    p {
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 10px;
      opacity: 0.6;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 8px;
        padding: 10px;
      }
      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        font-size: 10px;
        padding: 0 50px;
      }
    }

    hr {
      border: 0.5px solid rgba(153, 152, 152, 0.5);
      width: 40%;
    }

    h2 {
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 2px;
      word-spacing: 3px;
      margin: 0;

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        font-size: 20px;
      }
      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        font-size: 23px;
      }
      @media only screen and (min-width: $break-md) and (max-width: $break-lg) {
        font-size: 27px;
      }
    }
  }

  .la-fourgrid__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    padding: 50px 130px 150px 130px;

    @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
      grid-template-columns: 1fr;
      padding: 30px 20px 40px 20px;
      grid-gap: 12px;
    }
    @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
      padding: 20px 30px 30px 30px;
      grid-gap: 15px;
    }
    @media only screen and (min-width: $break-md) and (max-width: $break-lg) {
      padding: 40px 100px 60px 100px;
      grid-gap: 25px;
    }
    @media only screen and (min-width: $break-lg) {
      padding: 40px 100px 60px 100px;
      grid-gap: 40px;
    }

    a {
      border: 20px solid $white;
      overflow: hidden;
      transition: 1000ms $easeOutCirc;
      opacity: 0;
      transform: scale(0.7);

      &:nth-child(2) {
        transition-delay: 250ms;
      }

      &:nth-child(3) {
        transition-delay: 500ms;
      }

      &:nth-child() {
        transition-delay: 750ms;
      }

      @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
        border-width: 12px;
      }

      @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
        border-width: 12px;
      }

      img {
        display: block;
        width: 100%;
        transition: 500ms ease-out;
        transform: scale(1);
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          transition: 500ms ease-out;
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }
  }
}

/* ------------- FOOTER ------------- */
footer {
  display: block;
  font-size: 13px;
  padding-bottom: 40px;
  text-align: center;
  color: rgba($x-light-grey, 0.8);
  background-color: $x-dark-grey;
  overflow: hidden;

  @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 10px;
  }
  @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
    font-size: 12px;
    padding-bottom: 30px;
  }

  ul {
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding: 40px 15px 0 15px;
    text-align: center;

    a {
      display: block;

      &:hover {
        cursor: pointer;
        transition: 500ms ease-out;
        transform: scale(1.07);
      }

      i {
        color: rgba($x-light-grey, 0.8);
        font-size: 25px;
        padding-bottom: 10px;

        @media only screen and (min-width: $break-xs) and (max-width: $break-sm) {
          font-size: 20px;
        }
        @media only screen and (min-width: $break-sm) and (max-width: $break-md) {
          font-size: 22px;
        }
      }
    }
  }
}
