@import "/css/index.scss";

body,
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(174, 174, 174);
}

ol,
ul,
li {
  list-style: none;
}

/* ------------- SECTION: NAV + HEADER ------------- */
.la-nav {
  max-width: 100vw;
  height: 100vh;
  position: relative;

  header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    font-size: 19px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 13px;
    }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      font-size: 14px;
    }
    @media only screen and (min-width: 1824px) {
      font-size: 20px;
      padding: 10px;
    }

    a:first-child {
      color: rgb(255, 255, 255);
      padding: 20px;

      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    // menu
    a:last-child {
      padding: 20px;
      width: 75px;
      color: rgb(255, 255, 255);
      transition: width 600ms;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (min-width: 1824px) {
        width: 130px;
      }
    }
  }

  .la-nav__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // display: block;
    color: rgb(255, 255, 255);
    font-size: 17px;
    z-index: 3;

    p {
      margin-bottom: 25px;
      text-transform: uppercase;
      word-spacing: 2px;
      letter-spacing: 5px;
      font-size: 15px;
      opacity: 0.6;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 11px;
        padding: 30px;
      }
      @media only screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 13px;
        padding: 20px 50px;
      }
      @media only screen and (min-width: 1824px) {
        font-size: 18px;
      }

      > a:first-child {
        color: rgba(255, 255, 255, 1);
      }
    }

    hr {
      border: 0.5px solid rgba(255, 255, 255, 0.5);
      width: 25%;
    }

    h2 {
      font-size: 100px;
      font-weight: 300;
      letter-spacing: 8px;
      margin: 0;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 70px;
      }
      @media only screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 85px;
      }
      @media only screen and (min-width: 1824px) {
        font-size: 110px;
      }
    }
  }
}

/* ------------- DUAL COLUMN ------------- */
.la-dualcolumn {
  background-color: rgb(242, 242, 242);
  width: 100vw;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 90px;
  color: rgb(63, 63, 63);

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px 18px;
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    grid-gap: 20px;
    padding: 60px 20px;
  }

  > div {
    text-align: center;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      background-color: rgb(255, 255, 255);
    }

    &:nth-child(2) {
      background-color: rgb(255, 255, 255);
    }

    .la-dualcolumn__image {
      overflow: hidden;

      img {
        width: 100%;
        display: block;

        // &:hover {
        //   transition: 500ms;
        //   transform: scale(1.1);
        // }
      }
    }

    .la-dualcolumn__content {
      padding: 40px;
      display: flex;
      flex-direction: column;
      flex: 1;

      > div {
        p {
          text-transform: uppercase;
          font-size: 12px;
          color: rgb(174, 174, 174);
          letter-spacing: 3px;
          word-spacing: 1px;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 9px;
          }
          @media only screen and (min-width: 480px) and (max-width: 768px) {
            font-size: 10px;
          }
        }

        hr {
          border: 0.5px solid rgba(153, 152, 152, 0.5);
          width: 50%;
        }
        h2 {
          font-weight: 400;
          padding-bottom: 25px;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            font-weight: 300;
          }
          @media only screen and (min-width: 480px) and (max-width: 768px) {
            font-weight: 300;
          }
        }
      }

      > p {
        font-size: 14px;
        color: #aeaeae;
        font-weight: 300;
        padding-bottom: 30px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 11px;
        }
        @media only screen and (min-width: 480px) and (max-width: 768px) {
          font-size: 12px;
        }
      }

      button {
        padding: 15px;
        background-color: rgb(255, 255, 255);
        font-size: 16px;
        text-transform: uppercase;
        border: 2px solid rgb(211, 211, 211);
        border-radius: 3px;
        outline: none;
        // margin-bottom: 30px;
        margin-top: auto;
        align-self: center;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 12px;
          padding: 6px;
        }
        @media only screen and (min-width: 480px) and (max-width: 768px) {
          font-size: 13px;
          padding: 7px;
        }
      }
    }
  }
}

/* ------------- BANNER ------------- */
.la-banner__wrapper {
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.6),
      rgba(12, 12, 12, 0.6)
    ),
    url("/asset/siesta-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 20vh;

  .la-banner__headings {
    display: block;
    position: relative;
    padding: 100px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 17px;

    p {
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 10px;
      opacity: 0.6;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 8px;
        padding: 20px;
      }
    }
    hr {
      border: 0.5px solid rgba(255, 255, 255, 0.5);
      width: 25%;
    }
    h2 {
      font-size: 25px;
      font-weight: 200;
      letter-spacing: 2px;
      word-spacing: 3px;
      margin: 0;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 20px;
      }
    }
  }
}

/* ------------- FOUR-GRID ------------- */
.la-fourgrid {
  width: 100vw;
  box-sizing: border-box;
}

.la-fourgrid__content {
  background-color: rgb(242, 242, 242);
  // min-height: 100vh;
  overflow: hidden;
  text-align: center;
  padding-top: 40px;

  > div {
    p {
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 10px;
      opacity: 0.6;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 8px;
        padding: 20px;
      }
    }
    hr {
      border: 0.5px solid rgba(153, 152, 152, 0.5);
      width: 40%;
    }
    h2 {
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 2px;
      word-spacing: 3px;
      margin: 0;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 20px;
      }
    }
  }

  .la-fourgrid__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;

    background-color: rgb(242, 242, 242);
    padding: 3% 10% 10% 10%;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-gap: 1%;
    }

    a {
      display: block;

      img {
        box-sizing: border-box;
        width: 100%;
        border: 15px solid rgb(255, 255, 255);

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          width: 90%;
          border: 10px solid rgb(255, 255, 255);
        }
        @media only screen and (min-width: 480px) and (max-width: 768px) {
          border: 13px solid rgb(255, 255, 255);
        }
      }
    }
  }
}

/* ------------- FOOTER ------------- */
footer {
  display: block;
  font-size: 13px;
  text-align: center;
  padding-bottom: 40px;
  color: rgba(255, 249, 241, 0.7);
  background-color: rgb(24, 24, 23);
  overflow: hidden;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 10px;
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 11px;
    padding-bottom: 30px;
  }

  ul {
    padding: 0;
  }
  ul li {
    display: inline-block;
    text-align: center;
    padding: 50px 15px 0 15px;
    cursor: pointer;
    i {
      color: rgba(255, 249, 241, 0.7);
      font-size: 25px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 20px;
      }
      @media only screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 21px;
      }
    }
  }
}
