body,
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

/* ------------- NAV ------------- */

.la-nav {
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url(/asset/coffee.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  color: rgb(253, 243, 230);
  &:hover {
    .nav {
      transform: translateX(-250px);
    }
  }
}

.header {
  display: fixed;
  flex-direction: column;
  min-height: 100vh;
  // min-height: calc(100vh – 89px);
  font-size: 22px;
}

.la-nav__logo {
  display: flex;
  justify-content: space-between;
  background-color: rgba(41, 40, 38, 0);
  & a:first-child {
    flex-grow: 1;
    align-items: center;
    color: rgb(255, 255, 255);
    // background-color: rgba(41, 40, 38, 0);
    padding: 20px;
    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  & a:last-child {
    padding: 20px;
    width: 100px;
    // background: palevioletred;
    color: rgb(255, 255, 255);
    transition: width 500ms;
    // &:hover {
    //   nav {
    //     transform: translateX(-250px);
    //   }
    // }
  }
}

nav {
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 100vw;
  top: 0;
  align-items: flex-start;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 24, 23);
  transition: 500ms;
  // &.nav--visible {
  //   transform: translateX(-250px);
  // }
  > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.8;
  }
}

.la-nav__banner {
  display: block;
  text-align: center;
  padding: 280px 0;
  color: rgb(255, 255, 255);
  font-size: 17px;
  p {
    margin-bottom: 35px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-size: 14px;
    opacity: 0.6;
    > a:first-child {
      color: rgba(255, 255, 255, 1);
    }
  }
  h2 {
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 8px;
    margin: 0;
  }
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 35%;
}

/* ------------- DUAL COLUMN ------------- */
.la-dualcolumn {
  background-color: rgb(242, 242, 242);
  width: 100vw;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  padding: 10%;

  > div {
    text-align: center;

    &:nth-child(1) {
      background-color: rgb(255, 255, 255);
    }

    &:nth-child(2) {
      background-color: rgb(255, 255, 255);
    }

    .la-dualcolumn__image {
      img {
        width: 100%;
      }
    }

    .la-dualcolumn__content {
      padding: 20px;
      h3 {
        font-size: 14px;
      }

      > p {
        font-size: 15px;
      }
    }
  }
}

/* ------------- FOOTER ------------- */
footer {
  display: block;
  font-size: 13px;
  text-align: center;
  padding-bottom: 40px;
  color: rgba(255, 249, 241, 0.7);
  background-color: rgb(24, 24, 23);
  ul {
    padding: 0;
  }
  ul li {
    display: inline-block;
    text-align: center;
    padding: 50px 15px 0 15px;
    cursor: pointer;
    i {
      color: rgba(255, 249, 241, 0.7);
      font-size: 25px;
    }
  }
}
